@define-mixin clearFix {
	content: "";
	display: block;
	clear: both;
}

@define-mixin hideable {
	transition: opacity .3s;
	will-change: opacity;
}

@define-mixin discardable {
	transition: opacity .3s;
	will-change: opacity;
}

.hideable {
	@mixin hideable;
}
.hide {
	opacity: 0 !important;
}

.discardable {
	@mixin discardable;
}
.discard {
	opacity: 0 !important;
	transform: scale(0.2);

	&.left {
		transform: scale(0.2) translateX(-1000px);
	}
	&.right {
		transform: scale(0.2) translateX(1000px);
	}
}

.clear {
	@mixin clearFix;
}

.disappear {
	display: none !important;
	will-change: auto !important;
}

div#scrollbarDiv {
	position: absolute;
	top: -999;
	width: 100px;
	height: 100px;
	overflow: scroll;
}