.hideable {
	transition: opacity .3s;
	will-change: opacity;
}
.hide {
	opacity: 0 !important;
}

.discardable {
	transition: transform .4s, opacity .3s;
	will-change: transform, opacity;
}
.discard {
	opacity: 0 !important;
	transform: scale(0.2);

	&.left {
		transform: scale(0.2) translateX(-1000px);
	}
	&.right {
		transform: scale(0.2) translateX(1000px);
	}
}

	.clear {
		content: "";
		display: block;
		clear: both;
	}

	.disappear {
		display: none !important;
		will-change: auto !important;
	}

div#scrollbarDiv {
	position: absolute;
	top: -999;
	width: 100px;
	height: 100px;
	overflow: scroll;
}